#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --parallel --with systemd

override_dh_auto_clean:
	rm -f i2pd
	dh_auto_clean


override_dh_install:
	install i2p $(CURDIR)/debian/i2pd/usr/sbin/i2pd

override_dh_strip:
	dh_strip --dbg-package=i2pd-dbg
