#!/usr/bin/make -f
# -*- makefile -*-

DEBIAN_DIR = $(dir $(firstword $(MAKEFILE_LIST)))
DAT = $(shell dpkg-parsechangelog -l$(DEBIAN_DIR)changelog | sed -e '/^Date:/!d' -e 's/Date:\ //')
DATE = $(shell faketime "$(DAT)" date -u +"%Y-%m-%d %H:%M:%S")
FT = faketime -f -m "$(DATE)"


%:
	dh $@ --parallel

override_dh_auto_clean:
	rm -f i2pd
	dh_auto_clean

override_dh_auto_build-arch:
	$(FT) dh_auto_build -a


override_dh_install:
	install -d $(CURDIR)/debian/i2pd/usr/lib/i2pd
	install i2p $(CURDIR)/debian/i2pd/usr/lib/i2pd/i2p
	install debian/i2pd.sh $(CURDIR)/debian/i2pd/usr/bin/i2pd

override_dh_strip:
	$(FT) dh_strip --dbg-package=i2pd-dbg

override_dh_installchangelogs:
	# upstream changelog should be recreated using git2cl
	# whenever the upstream source is pulled from git
	dh_installchangelogs debian/upstream.changelog
	dh_installchangelogs
